  body {
  	margin: 0;
  	font-family: rmilovBold;
  }

  .nav-bar {
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	background-color: #1f2937;
  	padding: 8px 32px 8px 16px;
  }

  .nav-bar img {
  	max-width: 100px;
  	max-height: 80px;
  }



  .header {
  	display: flex;
  	color: white;
  	padding: 5px 32px 50px 32px;
  	background-color: #1f2937;
  }

  .header-content {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 50px 20px;
  	flex-wrap: wrap-reverse;
  }

  .header-text {
  	display: flex;
  	flex-direction: column;
  	flex-basis: 400px;
  	margin-right: 40px;
  }

  .header img {
  	display: flex;
  	max-width: 500px;
	width: 100%;  
  }

  .header-content button {
  	max-width: 110px;
  }

  .hero-main-text {
  	text-align: left;
  	font-size: 48px;
  	font-weight: 700;
  	color: #f9faf8;
  	margin-bottom: 0px;
  }

  .hero-text, .header-links {
  	color: #e5e7eb;
  	font-size: 18px;
  }


  .info img {
  	width: 200px;
  	height: 200px;
  	border-radius: 25px;
  }

  .rows-content {
  	display: flex;
  	justify-content: space-evenly;
  	text-align: center;
  	margin: 20px 0;
  	padding: 15px 0;
  	gap: 25px;
  	flex: 1;
  	flex-wrap: wrap;
  }

  .info {
  	max-width: 200px;
  }

  h1 {
  	font-size: 48px;
  	font-weight: 800;
  	color: #F9FAF8;
  	margin-bottom: 0;
  }

  h2 {
  	text-align: center;
  	font-size: 36px;
  	font-weight: 800;
  	color: #1F2937;
  }

  h3 {
  	color: #F9FAF8;
  	font-size: 18px;
  	font-weight: 500;
  	margin-bottom: 0;
  }

  .cta-box p {
  	font-size: 13px;
  	font-weight: 300;
  	margin-top: 10px;
  }

  p, ul {
  	font-size: 18px;
  	color: #f9faf8;
  }


  ul {
  	display: flex;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	gap: 15px;
  }



  button {
  	background-color: #3882f6;
  	color: #f9faf8;
  	border-radius: 8px;
  	border: none;
  	padding: 12px 14px;
  }
  }

  .quote {
  	margin: 0;
  	border-radius: 1em;
  }

  .quote figcaption,
  .quote blockquote {
  	margin: 1em;
  	font-size: 36px;
  	font-weight: 300;
  	font-style: italic;
  	color: #1F2937;
  	text-align: center;
  }


  .quote-container {
  	background-color: #e5e7eb;
  	padding: 60px 20px;
  }

  .cta-container {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 60px 20px;
  }

  .cta-box {
  	background-color: #3882f6;
  	padding: 16px 32px;
  	border-radius: 10px;
  	color: #f9faf8;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }



  .cta-container button {
  	border: 1px solid white;
  	margin-left: 60px;
  }


  .footer {
  	background-color: rgb(250, 224, 83);
  	height: 72px;
  	justify-content: center;
  	display: flex;
  	align-items: center;
  }

  .nav-bar a {
  	text-decoration: none;
  	color: #e5e7eb;
  }

  .footer a {
  	color: black;
  	font-size: 15px;
  	line-height: 1;
  	font-family: ErmilovBold;
  	font-weight: 300;
  }